html,
body {
    margin: 0;
    padding: 0;
    height: 100%; /* needed for container min-height */
}

.menuLinks {
    background-color: #2559FF;
    font-size: 25px;
    text-align: right;
}
.menuLinks .homeMenu{
    float: left;
}
.menuLinks a {
    color: white;
    text-decoration: none;
    padding: 10px;
}
.appHeading {
    text-align: center;
    background-color: #0055E5;
    min-height: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    color: white;
}

.containerBody div{
    margin: 20px 40px;
    padding: 30px;
    cursor: pointer;
}

/** search box and autofill **/
.searchBox {
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 20px;
}
.searchBox input {
    width: 100%;
    height: 30px;
    font-size: 20px;
    padding: 5px;
}
.autoFill {
    border: 1px solid green;
    text-align: left;
    font-size: 20px;
}
.autoFill div {
    margin: 5px;
}

/** pagination **/
/*  SECTIONS  */
.section {
    clear: both;
    padding: 0px;
    margin: 20px;
    min-height: 100%;
    position: relative; /* needed for footer positioning*/
    height: auto !important;
}

/*  COLUMN SETUP  */
.col {
    display: block;
    float:left;
    margin: 1% 0 1% 0.5%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

/*  GRID OF THREE  */
.span_3_of_3 { width: 100%; }
.span_2_of_3 { width: 66.5%; }
.span_1_of_3 { width: 33%; }

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
    .col {  margin: 1% 0 1% 0%; }
    .span_3_of_3, .span_2_of_3, .span_1_of_3 { width: 100%; }
}

.pagination {

}
.pageNumber {
    top: 40%;
    position: absolute;
}
.prev, .next {
    background-image: url('./images/left-and-right-arrows.svg');
    background-repeat: no-repeat;
    cursor: pointer;
}

.prev {
    width: 60px;
    height: 60px;
    background-position: 26px 0;
}

.next {
    height: 60px;
    width: 60px;
    background-position: -26px 0;
}

/** Loader **/
.loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

@-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 }
    to { bottom:0px; opacity:1 }
}

@keyframes animatebottom {
    from{ bottom:-100px; opacity:0 }
    to{ bottom:0; opacity:1 }
}

.universityName:nth-child(even) {background: rgba(202, 196, 208, 0.41)
}
.universityName:nth-child(odd) {background: #CCC}


/* Side panel ----- ------------------------------ start */

.sidepanel  {
    width: 0;
    position: fixed;
    z-index: 1;
    height: 100%;
    top: 0;
    right: 0;
    background-color: #f3f8ff;
    overflow-x: hidden;
    transition: 0.5s;
    padding: 0;
    border-left: 1px solid #5e65ff;
}

.active {
    width: 40%;
    padding: 60px 20px;
}

.sidepanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidepanel a:hover {
    color: #7479ff;
}

.sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
}

.openbtn:hover {
    background-color:#444;
}
/* Side panel ----- ------------------------------ end */


.uDetails div {
    padding-bottom: 30px;
}

.uDetails a {
    font-size: 20px;
    color: #0629ff;
}

.unhandled {
    margin: 20% 35%;
}